*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}
header{
    display: flex;
    justify-content: center;

    background-image: url(https://cdn.discordapp.com/attachments/1089332210689134722/1106314027656814672/image-header.jpg);
    width: 100%;
    height: 200px;


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header .navegacao{
    width: 95%;
    height: 80px;
    margin: 1em;
    border-radius: 30px;

    background-color: #3EBFFE;

    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
}
header .logo{
    font-size: 30px;
    font-weight: bold;

    width: 40px;
    height: 40px;
    margin: auto 80px;
    align-items: center;

    color: white;

}
header nav{
    width: 650px;
    height: 30px;
    margin: auto 0;

    display: flex;
    justify-content: space-around;
    
}
header a{
    text-decoration: none;
    color: white;
    list-style: none;

    display: inline-block;
}
header li{
    margin: auto 1em;
    font-size: 22px;
    color: black;
    list-style: none;

    display: inline-block;
}
header .botao{
    background-color: white;

    border: 0px;
    border-radius: 50px;
    width: 120px;
    height: 60px;

    font-size: 20px;
    font-weight: bold;
}
.frase{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 90px;
    height: 70px;
    color: white;

    background-image: url(https://cdn.discordapp.com/attachments/1089332210689134722/1106314027656814672/image-header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}




main .blocos4{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.secao1{

    background-image: url(https://cdn.discordapp.com/attachments/1089332210689134722/1106314027656814672/image-header.jpg);

    width: 100%;
    height: 1200px;


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: 50% 50%;

    display: flex;
    justify-content:flex-end;
}
.secao2{
    width: 100%;
    height: 692px;

    display: flex;
    justify-content:flex-end;
}
.conteudo1{
    margin-top: 550px;

    width: 50%;
    height: 692px;
    background-color:white;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo1 .bloco-menor1{
  width: 450px;
    height: 450px;

    margin: auto;  
}
.conteudo4 .bloco-menor4{
    width: 450px;
      height: 450px;
  
      margin: auto;  
  }

.bloco-menor a{
    color: black;
    margin-left: 2em;
    font-weight: bold;
    text-decoration-color: yellow ;
}

.conteudo2{
    margin-top: 550px;

    width: 50%;
    height: 692px;

    background-color: #FED403;

    align-items: center;
    display: flex;
    justify-content: center;


}
.conteudo3{
    width: 50%;
    height: 692px;
    background-color: #FE7263;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo4{
    width: 50%;
    height: 692px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo h1{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    margin: 1em auto;
}
.conteudo p{
    padding: 1em;
    font-size: 20px;
    line-height: 1.5;
}
.conteudo a{
    text-decoration: none;
    position: relative;
    display: inline-block;

    font-weight: bold;
    color: black;
    
}

.conteudo a::after{
    content: ''; /* adiciona um pseudo-elemento depois do elemento */
    position: absolute; /* define a posição absoluta para o pseudo-elemento */
    left: 0;
    bottom: -2px; /* define a posição do sublinhado */
    width: 100%; /* define a largura do sublinhado como 100% */
    height: 2px; /* define a altura do sublinhado como 2 pixels */
    background-color: rgb(43, 255, 0); /* define a cor do sublinhado */
    transition: transform 0.3s ease; /* define a transição da propriedade transform com duração de 0.3 segundos e uma curva de transição ease */
    transform: scaleX(0); /* define a escala horizontal do sublinhado como 0 para escondê-lo inicialmente */
    transform-origin: left;
}
.conteudo a:hover::after{
    transform: scaleX(1); /* define a escala horizontal do sublinhado como 1 para exibir o sublinhado na animação */
}

.secao3{
    width: 100%;
    height: 692px;

    display: flex;
}
.secao3 .conteudo5{
    width: 50%;
    height: 692px;
    background-color: #96D5C7;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.secao3 .conteudo6{
    width: 50%;
    height: 692px;
    background-color: #61CCFF;

    display: flex;
    flex-direction: column;
    align-items: center;  

}
.secao3 .text-secao3{
    padding: 1em 250px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-secao3 h1{
    align-items: center;
    margin: 0.5em auto;
    font-size: 45px;
}
.text-secao3 p{
    text-align: center;
}


.opinioes{
    width: 100%;
    height: 780px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.opinioes .testemunha{
    font-family: 'Fraunces', serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 70px 0 ;
    color: rgb(107, 107, 107);
}
.opinioes .container-opiniao{
    width: 1800px;
    height: 600px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.opinioes .opiniao{
    margin-top: 100px;
    width: 410px;
    text-align: center;
    margin-bottom: 200px;
    
}

.opinioes .opiniao:hover{
    scale: 1.1;
    transition: 1s ease;
}

.opinioes .opiniao .opiniao-relato{
 text-align:center;

 margin: 1.5em;
 margin-bottom: 5em;

 font-size: 17px;
 color: rgb(39, 39, 39) ;

 line-height: 1.5;
}
.opinioes .opiniao .opiniao-nome{
    font-weight: bold;
    font-size: 20px;

    margin: 1em;
}
.opinioes .opiniao .opiniao-trabalho{
    color: rgb(148, 148, 148);
    font-weight: bold;
}

.opinioes img{
    border-radius: 50%;
    width: 150px;
    height: 150%;
    margin-bottom: 50px ;
}


.imagens-4{
    width: 100%;
    height: 400px;
}
.container-imagens{
    display: flex;
}
.container-imagens img{
    width: 100%;
}

footer{
    background-color: #90D4C5;

    display: flex;
    justify-content: center;

   
    width: 100%;
    height: 500px;

}

.footer-informacoes{
    width: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.footer-logo{
    text-align: center;
    margin-top: 1em;
    font-size: 60px;
    font-weight: bold;
    color: rgb(46, 46, 46);
}

.informacoes1{
    width: 350px;
    height: 250px;

    display: flex;
    justify-content: center;
}
.informacoes1 nav{
    margin: 80px 0 0 0 ;
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.informacoes1 a{
    font-size: 30px;
    color: rgb(90, 87, 87);
    text-decoration: none;

    margin: 1em;
}

.informcoes1 h1{
    font-weight: bold;
    font-size: 15px;
}

.icones{
    width: 400px;
    height: 100px;

    display: flex;
    justify-content: space-between;

}

.icones div{
    width: 70px;
    height: 70px;
}