*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}
header{
    display: flex;
    justify-content: center;

    background-image: url(https://cdn.discordapp.com/attachments/1089332210689134722/1106314027656814672/image-header.jpg);
    width: 100%;
    height: 200px;


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header .navegacao{
    width: 95%;
    height: 80px;
    margin: 1em;
    border-radius: 30px;

    background-color: #3EBFFE;

    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
}
header .logo{
    font-size: 30px;
    font-weight: bold;

    width: 40px;
    height: 40px;
    margin: auto 80px;
    align-items: center;

    color: white;

}
header nav{
    width: 650px;
    height: 30px;
    margin: auto 0;

    display: flex;
    justify-content: space-around;
    
}
header a{
    text-decoration: none;
    color: white;
    list-style: none;

    display: inline-block;
}
header li{
    margin: auto 1em;
    font-size: 22px;
    color: black;
    list-style: none;

    display: inline-block;
}
header .botao{
    background-color: white;

    border: 0px;
    border-radius: 50px;
    width: 120px;
    height: 60px;

    font-size: 20px;
    font-weight: bold;
}
.frase{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 90px;
    height: 70px;
    color: white;

    background-image: url(https://cdn.discordapp.com/attachments/1089332210689134722/1106314027656814672/image-header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main{
    height: 240vh;
}


main .blocos4{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.secao1{

    background-image: url(https://cdn.discordapp.com/attachments/1089332210689134722/1106314027656814672/image-header.jpg);

    width: 100%;
    height: 1200px;


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: 50% 50%;

    display: flex;
    justify-content:flex-end;
}
.secao2{
    background-image: url(https://cdn.discordapp.com/attachments/1089332210689134722/1089351675313143819/hum_water_droplets_on_a_leaf_and_forest_background_8K__fotorrea_91542a30-a06c-4112-b95f-6afd114f9660.png);

    width: 100%;
    height: 1200px;


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content:flex-end;
}
.conteudo1{
    margin-top: 550px;

    width: 50%;
    height: 692px;
    background-color:white;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo1 .bloco-menor1{
  width: 450px;
    height: 450px;

    margin: auto;  
}
.conteudo4 .bloco-menor4{
    width: 450px;
      height: 450px;
  
      margin: auto;  
  }

.bloco-menor a{
    color: black;
    margin-left: 2em;
    font-weight: bold;
    text-decoration-color: yellow ;
}

.conteudo2{
    margin-top: 550px;

    width: 50%;
    height: 692px;

    background-color: #FED403;

    align-items: center;
    display: flex;
    justify-content: center;


}
.conteudo3{
    margin-bottom: 650px;

    width: 50%;
    height: 692px;
    background-color: rgb(255, 141, 246);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo4{
    margin-bottom: 650px;

    width: 50%;
    height: 692px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo h1{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    margin: 1em auto;
}
.conteudo p{
    padding: 1em;
}
footer{
    background-color: bisque;

    display: flex;

    justify-content: space-between;

    height: 300px;
    width: 100%;
    margin-top: 300px ;
}

.footer-informacoes{
    margin: auto;


    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1800px;
    height: 200px;
}

.informacoes1{
    width: 350px;
    height: 350px;


}

.informcoes1 h1{
    font-weight: bold;
    font-size: 20px;
}